.nav-primary .navbar-collapse {
    justify-content: flex-end;
} 

.carousel-banner {
    height: 80vh;
    margin-top: 56px;
}

.carousel-banner img {
    height: 80vh;
    object-fit: cover;
}

.carousel-banner h5 {
    font-size: 40px;
}

h1.title {
    margin: 25px 0;
}

.row-margin {
    margin: 15px 0px;
}

.col-lg-4 {
    margin: 15px 0;
}

.card-img-top {
    object-fit: cover;
}

.modern-business {
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.row-cta {
    align-items: center;
}